{% extends 'base.html.twig' %}

{% block title %}Caisse{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
{% endblock %}
{% block body %}
<h1>Caisse pour le {{whichday |date('d-m-Y')}}</h1>
<br>
<div class="row">
    <div class="col-md-6">
        <form action="" method="GET">
            <div class="form-group" >
                <input type="date" class="form-control" style="float:left;width:250px;" id="whichday" name="whichday" max="{{'today' | date('Y-m-d')}}">
                &nbsp;&nbsp;
                <button class="btn btn-primary">Changer la date</button>
            </div>
        </form>
    </div>
</div>
<br>



<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active size19" data-toggle="tab" href="#command" >Articles vendus</a>
  </li>
  <li class="nav-item">
    <a class="nav-link size19" href="#other_expenses" data-toggle="tab" >Autres créances/dépenses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link size19" href="#piece_monnaie" data-toggle="tab" >Cloture de caisse</a>
  </li>
  <li class="nav-item">
    <a class="nav-link size19" href="#stats" data-toggle="tab" >Statistiques</a>
  </li>
</ul>

<div class="tab-content">
  <div id="command" class="tab-pane show fade in active">
    <div class="row">
        <div class="col-md-12">
            {% include 'cash_register/command.html.twig'%}
        </div>
    </div>
</div>
<div id="other_expenses" class="tab-pane fade">
    <div class="row">
        <div class="col-md-12">
            {% include 'cash_register/expenses.html.twig' %}
        </div>
    </div>
</div>
  <div id="piece_monnaie" class="tab-pane fade">
        <div class="row">
            <div class="col-md-12">
                {% include 'cash_register/piece_monnaie.html.twig' %}
            </div>
        </div>
    </div>
    <div id="stats" class="tab-pane fade">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% include 'cash_register/stats.html.twig' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        Date.prototype.toDateInputValue = (function() {
            var local = new Date("{{whichday | date('Y-m-d')}}");
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0,10);
        });
        $(document).ready( function () {
            $('#table_piece_monnaie').DataTable({
                "pagingType": "full_numbers"
            });
            $('#table').DataTable({
                "pagingType": "full_numbers"
            });
            //clearUrlFromParams()
            document.getElementById('whichday').value = new Date().toDateInputValue();
            
            {% for piece in piece_monnaie %}
                document.getElementById("piece_{{ loop.index }}").addEventListener('keyup', updateTotalOfPieceMonnaie);
                document.getElementById("piece_{{ loop.index }}").addEventListener('change', updateTotalOfPieceMonnaie);
                updateTotalOfPieceMonnaie(document.getElementById("piece_{{ loop.index }}"));
            {%endfor%}
        } );

        function updateTotalOfPieceMonnaie(e){
            let howManyInput;
            let howManyValue;
            if (e.srcElement === undefined) {
                howManyInput = e;
                howManyValue = howManyInput.value;
            } else {
                howManyInput = e.srcElement;
                howManyValue = howManyInput.value;
            }
            
            let piece = howManyInput.dataset.piece;
            let pieceIndex = howManyInput.dataset.index;
            $('#total_piece_' + pieceIndex).html(parseFloat(piece * howManyValue).toFixed(2))
            $('#total_piece_monnaie').html(getTotalPieceMonnaie());
        }

        function getTotalPieceMonnaie(){
            let total = 0;
            {% for piece in piece_monnaie %}
                total += parseInt($("#piece_{{loop.index}}").val()) * {{piece}}
            {% endfor %}

            return parseFloat(total).toFixed(2)
        }
        
    </script>
{% endblock %}