{% extends 'app/baseFront.html.twig' %}
{% block title %}{% endblock %}
{% block body %}
    <!-- ...:::: Start Customer Login Section :::... -->
    <br> <br>
    <div class="customer_login">
        <div class="container">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form">
                        <h3>Se connecter</h3>
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey | trans(error.messagedata,'security') }}
                            </div>
                        {% endif %}
                        <form action="{{ path('login') }}" method="POST">
                            <div class="default-form-box mb-20">
                                <label>Email *</label>
                                <input type="text" id="email" name="email" class="form-control" required="required" value="{{ last_username }}">
                            </div>
                            <div class="default-form-box mb-20">
                                <label>Mot de passe *</label>
                                <input  type="password" id="password" name="password" class="form-control" required="required">
                            </div>
                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="login_submit">
                                <button class="mb-20" type="submit">Se connecter</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--login area start-->

                <!--register area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form register">
                        <h3>S'inscrire</h3>
                        {% for flashError in app.flashes('verify_email_error') %}
                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                        {% endfor %}
                        {{ form_start(registrationForm) }}
                            <div class="default-form-box mb-20">
                                {{ form_row(registrationForm.email, {
                                    label: 'Email *' 
                                }) }}
                            </div>
                            <div class="default-form-box mb-20">
                            {{ form_row(registrationForm.plainPassword, {
                                label: 'Mot de passe *'
                            }) }}
                            </div>
                            </br>
                            <button type="submit" class="btn btn-primary">Créer votre compte</button>
                            <button class="btn btn-primary margin-for-mobile" ><a href="{{ path('app_forgot_password_request')}}" style="color:white;text-decoration: none;">Mot de passe oublié ?</a></button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
                <!--register area end-->
            </div>
        </div>
    </div> <!-- ...:::: End Customer Login Section :::... -->

{% endblock %}