{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}
{% block url %}{{ path('admin.category_index') }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">{% endblock %}

{% block body %}
    <div class="row flex mt-4 mb-4">
        <a class="btn btn-primary" href="{{ path('admin.category_new') }}">Ajouter une catégorie</a>
    </div>

    <table class="table" id="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description|length > 75 ? category.description|slice(0, 75) ~ '...' : category.description }}</td>
                <td>
                    <a href="{{ path('admin.category_show', {'id': category.id}) }}" class="mr-4"><i class="far fa-eye"></i></a>
                    <a href="{{ path('admin.category_edit', {'id': category.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">0 article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#table').DataTable({
                "pagingType": "full_numbers"
            });
        } );
    </script>
{% endblock %}
