<div class="product-default-single border-around" style="height:430px;">
    <div class="product-img-warp">
        <a href="{{path('product_show', {'id': product.id })}}" class="product-default-img-link">
        {% if product.filename is not null  %}
            <img src="{{ asset('images/products/' ~ product.filename) }}" alt="" class="product-default-img img-fluid" style="height:320px;">
        {% else %}
            <img src="{{ asset('images/noProductPicture.png') }}" class="product-default-img img-fluid" style="height:320px;">
        {% endif %} 
        </a>
        <div class="product-action-icon-link">
            <ul>
                <li><a href="{{path('product_show', {'id': product.id })}}" ><i class="icon-eye"></i></a></li>
                <li><a href="{{path('basket_add',{'id' : product.id })}}" ><i class="icon-shopping-cart"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="product-default-content">
        <h6 class="product-default-link" style="margin-bottom:-10px;margin-top:40px;">
            <a style="font-size:14px;" href="{{path('product_show', {'id': product.id })}}">
                {{ product.name|length > 33 ? product.name|slice(0,33) ~ '...' : product.name  }}
            </a>
            {% if product.name|length < 22 %}<br>{%endif%}
        </h6>
        <span class="product-default-price">
            {%if product.currentPromo is not null%}
            <span style="background-color:#EA2027;color:white;border-radius:15px;font-size:16px;font-weight:bold;padding:2px;">-{{product.currentPromo.pourcent}}%</span>
            <span>
                <del class="product-default-price-off">{{product.price}}</del> 
                {{ product.getPriceAfterPromotionIfExists}}
            {%else%}
                {{product.price}} 
            {%endif%} DT
            </span>  
        </span>                                                            
    </div>
</div> <!-- End Product Defautlt Single -->