{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.code) }}

        {{ form_row(form.howMany) }}
        {{ form_row(form.category) }}
        {{ form_row(form.provider) }}
        {{ form_row(form.tva) }}
        {{ form_row(form.gain) }}
        {{ form_row(form.imageFile) }}
        {{ form_row(form.expirationDate) }}

    </div>
    <div class="col-md-6">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.mark) }}
        {{ form_row(form.purchacePriceUnHt) }}
        {{ form_row(form.bill) }}
    </div>
</div>
<br><br>
    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
{% if product.bill is not null %}
<br>
<form method="POST" action="{{path('admin.bills_delete',{'id': product.bill.id })}}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer la facture de ce produit?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.bill.id) }}"/>
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit" class="btn btn-warning">Supprimer facture</button>
</form>
{% endif %}
