{% extends 'base.html.twig' %}
{% block title %}Liste des produits{% endblock %}
{% block url %}{{ path('admin.product_index') }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">{% endblock %}
{% block body %}

    <div class="mt-4 mb-4">
        <div class="row justify-content-between">
            <div class="col-md-4 mt-md-0 mt-4">
                <a class="btn btn-primary" href="{{ path('admin.product_new') }}">Ajouter un produit</a>
            </div>
            <div class="col-md-4 text-md-right  mt-md-0 mt-4">
                <form action="" method="GET" class="form-inline">
                    <div class="form-group " style="margin-right: 5px;">
                        <label for="searchedValue" class="sr-only">Rechercher:</label>
                        <input type="text" name="searchedValue" id="searchedValue" value="{{ app.request.query.get('searchedValue') }}" class="form-control" placeholder="Par code ou nom">
                    </div>
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </form>
            </div>
            <div class="col-md-4 text-md-right mt-md-0 mt-4">
                <form action="" method="GET" class="form-inline">
                    <div class="form-group" style="margin-right: 5px;">
                        <label for="dataSortSelector" class="sr-only">Trier par colonne:</label>
                        <select id="dataSortSelector" name="dataSortSelector" class="form-control">
                            {% if sortedValue is null %}<option value="" {{ sortedValue is null ? 'selected' : '' }}>Choisir une option</option>{%  endif %}
                            <option value="updatedAt_asc" {{ sortedValue == 'updatedAt_asc' ? 'selected' : '' }}>Modifié le (ascendant)</option>
                            <option value="updatedAt_desc" {{ sortedValue == 'updatedAt_desc' ? 'selected' : '' }}>Modifié le (descendant)</option>
                            <option value="expirationDate_asc" {{ sortedValue == 'expirationDate_asc' ? 'selected' : '' }}>Date de péremption (ascendant)</option>
                            <option value="expirationDate_desc" {{ sortedValue == 'expirationDate_desc' ? 'selected' : '' }}>Date de péremption (descendant)</option>
                            <option value="purchacePriceUnHt_asc" {{ sortedValue == 'purchacePriceUnHt_asc' ? 'selected' : '' }}>Prix unitaire (ascendant)</option>
                            <option value="purchacePriceUnHt_desc" {{ sortedValue == 'purchacePriceUnHt_desc' ? 'selected' : '' }}>Prix unitaire (descendant)</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Trier</button>
                </form>
            </div>

        </div>
    </div>
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
    <br>
    <table class="table" id="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Prix (dt)</th>
                <th>Prix unitaire(dt)</th>
                <th>Marge(%)</th>
                <th>Tva(%)</th>
                <th>Fournisseur</th>
                <th>Marque</th>
                <th>Numéro facture</th>
                <th>Date de péremption</th>
                <th>Quantité</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in pagination %}
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.purchacePriceUnHt }}</td>
                <td>{{ product.gain }}</td>
                <td>{{ product.tva }}</td>
                <td>{{ product.provider }}</td>
                <td>{{ product.mark }}</td>
                <td >{% if product.bill is not null %}<a href="{{ path('admin.bills_show',{'id': product.bill.id }) }}">{{ product.bill.number }}</a>{% endif %}</td>
                <td>{{ product.expirationDate ? product.expirationDate|date('d-m-Y') : '--' }}</td>
                <td>{{ product.howMany }}</td>
                <td>
                    {% if product.filename is not null  %}
                        <img src="{{ asset('images/products/' ~ product.filename) }}" class="smallImage">
                    {% else %}
                        <img src="{{ asset('images/noProductPicture.png') }}" class="smallImage">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin.product_show', {'id': product.id}) }}" class="mr-4"><i class="far fa-eye"></i></a>
                    <a href="{{ path('admin.product_edit', {'id': product.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">0 produits trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#table').DataTable({
                    "paging": false,
                    "lengthChange": false,
                    "info": false,
                    "searching": false,
                    "ordering": false,
                });
            } );
        </script>
{% endblock %}
