{% extends 'base.html.twig' %}

{% block title %}Fournisseur {{ provider.name }}{% endblock %}
{% block url %}{{ path('admin.provider_show', {'id' : provider.id }) }}{% endblock %}

{% block body %}
<div class="row flex mt-4 mb-4">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ provider.name }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ provider.phone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ provider.adresse }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ provider.description }}</td>
            </tr>
        </tbody>
    </table>
</div>
    <a href="{{ path('admin.provider_index') }}" class="btn btn-success mr-3">Retourner</a>

    <a href="{{ path('admin.provider_edit', {'id': provider.id}) }}" class="btn btn-primary mr-3">Modifier</a>
    <br><br>
    {{ include('provider/_delete_form.html.twig') }}
{% endblock %}
