{% extends 'base.html.twig' %}

{% block title %}Commande numéro #{{"now"|date("Ym")}}{{ "%05d" |format(command_on_line.id) }}{% endblock %}
{% block url %}{{ path('admin.command_on_line_show', {'id' : command_on_line.id }) }}{% endblock %}

{% block body %}
{% set totalProd = 0 %}
{% for message in app.flashes('update_cmd') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
{% endfor %}
<div class="table table-striped">
    <table class="table" >
        <tbody>
            <tr>
                <th>Numéro de commande</th>
                <td><h2>#{{"now"|date("Ym")}}{{"%05d" |format(command_on_line.id) }}</h2></td>
            </tr>
            <tr>
                <th>Status</th>
                <td><span style="font-size:16px;font-weight:600;color:
                    {% if command_on_line.status == 'créée' %}
                        #e67e22
                    {%elseif command_on_line.status == 'En cours de livraison' %}
                        #2980b9
                    {%elseif command_on_line.status == 'Annulée' %}
                        #e74c3c
                    {% else %}
                        #27ae60
                    {% endif %};">{{ command_on_line.status |upper }}</span>
                    <br><br>
                    {% if command_on_line.status != 'Terminée' %}
                        <form action="{{path('admin.command_on_line_change_status',{'id':command_on_line.id })}}" method="POST">
                            <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select class="form-control" id="statusCmd" name="status_cmd">
                                        {% for status in statusCmd %}
                                            <option {% if status == command_on_line.status %}selected{%endif%} value="{{status}}">{{status}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-warning" type="submit">Changer</button>
                            </div>
                            </div>
                        </form>
                     {% endif %}</td>
            </tr>
            <tr>
                <th>Déja contacté</th>
                <td><span style="font-size:16px;font-weight:600;color:
                    {% if command_on_line.status %}
                        #27ae60
                    {% else %}
                        #e74c3c
                    {% endif%}
                    ;"><h4>{{ command_on_line.isContacted ? 'OUI' : 'NON' }}</h4></span>
                    <br><br>
                    {% if not command_on_line.isContacted %}
                    <form action="{{path('admin.command_on_line_change_contacted',{'id' :command_on_line.id })}}" method="POST">
                        <div class="row">
                            <div class="col-md-5">
                                <button class="btn btn-warning" type="submit">Changer</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Article(s)</th>
                <td>
                    <ul>
                        {% for cmdDetail in command_on_line.cmdDetails %}
                            {% if cmdDetail.hasPromo is defined %}
                                {% set currentPrice = cmdDetail.promo.price_after_promo %}
                            {% else %}
                                {% set currentPrice = cmdDetail.price %}
                            {% endif %}
                            <li style="font-size:13px;font-weight:bold;" >
                            <a target="_blank" href="{{path('admin.product_show',{'id': cmdDetail.id })}}">{{ cmdDetail.name |length > 35 ? cmdDetail.name|slice(0, 35) ~ '...' : cmdDetail.name }}</a>
                             Prix: {% if cmdDetail.hasPromo is defined %}
                                        <span style="color:red;font-size:15px;font-weight:bold;">*promo</span>
                                    {% endif %}
                                 {{ currentPrice }} DT Quantité: {{ cmdDetail.qty }} TVA: {{ cmdDetail.tva }}% Gain: {{ cmdDetail.gain }}%
                             </li>
                        {% endfor %}
                     </ul>
                </td>
            </tr>
            <tr>
                <th>Total (DT)</th>
                <td><h4>{{command_on_line.totalCommand}}</h4></td>
            </tr>
            <tr>
                <th>Frais de livraison (DT)</th>
                <td><h4>{{command_on_line.shippingPrice}}</h4></td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ command_on_line.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ command_on_line.lastName }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ command_on_line.address }}</td>
            </tr>
            <tr>
                <th>Complément adresse</th>
                <td>{{ command_on_line.addressComplement }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ command_on_line.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ command_on_line.email }}</td>
            </tr>
            <tr>
                <th>Plus de détails</th>
                <td>{{ command_on_line.moreDetails }}</td>
            </tr>
            
        </tbody>
    </table>
    <a href="{{ path('admin.command_on_line_index') }}">Retourner à la liste des commandes</a>
</div>
{% endblock %}
