{% extends 'app/baseFront.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<br><br>
<div class="container">
    <div class="row">
    <div class="col-md-3 col-xs-12">
        <h1>Mon profil</h1><br>

        <table class="table table-stripped">
            <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ user.address }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ user.telephone }}</td>
                </tr>
                
                <tr>
                    <th>Date de naissance</th>
                    <td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Modfier profil</a>
        <br><br><br>
        {#<a class="btn btn-info" href="{{ path('home') }}">Retour</a>#}
        </div>
        <div class="col-md-9 col-xs-12">
            <h1>Mes commandes</h1>
            <br>
            <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Information</th>
                    <th>Produits</th>
                    <th>Détails</th>
                </tr>
            </thead>    
            <tbody>
            {% for command_on_line in app.user.commandsOnLine %}
                <tr>
                    <td width="10%">#{{"now"|date("Ym")}}{{ "%05d" |format(command_on_line.id) }} {{ command_on_line.createdAt |date('Y-m-d H:i') }} <br><span style="font-size:16px;font-weight:600;color:
                        {% if command_on_line.status == 'créée' %}
                            #e67e22
                        {%elseif command_on_line.status == 'En cours de livraison' %}
                            #2980b9
                        {%elseif command_on_line.status == 'Annulée' %}
                            #e74c3c
                        {% else %}
                            #27ae60
                        {% endif %};">{{ command_on_line.status |upper }}</span></td>
                    <td width="40%">
                        <ul>
                            {% for cmdDetail in command_on_line.cmdDetails %}
                                {% if cmdDetail.hasPromo is defined %}
                                    {% set currentPrice = cmdDetail.promo.price_after_promo %}
                                {% else %}
                                    {% set currentPrice = cmdDetail.price %}
                                {% endif %}
                                <li style="font-size:13px;font-weight:bold;" >
                                <a target="_blank" href="{{path('product_show',{'id': cmdDetail.id })}}">{{ cmdDetail.name |length > 35 ? cmdDetail.name|slice(0, 30) ~ '...' : cmdDetail.name }}</a>
                                <br>Prix: {% if cmdDetail.hasPromo is defined %}
                                            <span style="color:red;font-size:15px;font-weight:bold;">*promo</span>
                                        {% endif %}
                                    {{ currentPrice }} DT Quantité: {{ cmdDetail.qty }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td width="7%">
                        {% if command_on_line.codepromo is not null %}
                        Promo  <span style="font-weight:600;">-{{command_on_line.codepromo.percent}}%</span>
                        <br>
                        {% endif %}
                        Livraison {{command_on_line.shippingPrice}} dt
                    </td>
                </tr>
                {% else %}
                     <tr><td colspan="5"><center>Vous n'avez pas encore passé de commande.</center></td></tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        
    </div>
</div>



{% endblock %}
